<template>
  <div class="card bg-analytics text-white">
    <div class="card-content">
      <div class="card-body text-center">
        <img src="/images/elements/decore-left.png" class="img-left" alt="card-img-left">
        <img src="/images/elements/decore-right.png" class="img-right" alt="card-img-right">
        <div class="avatar avatar-xl bg-primary shadow mt-0">
          <div class="avatar-content">
            <i class="fa fa-trophy white font-large-1"></i>
          </div>
        </div>
        <div class="text-center">
          <h1 class="mb-2 text-white">Hello {{ username }}</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'dashboard-welcome-card',
  props: {
    username: {
      type: String,
      required: true,
      default: "User"
    }
  }
}
</script>
